@@import url("https://fonts.googleapis.com/css?family=Poppins");

/* Основные стили для страницы */
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Helvetica", "Arial";
}

a {
    text-decoration: none;
    color: rgb(52, 133, 226);
}

/* Navbar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 5vh;
    width: 100%;
    background-color: rgba(22, 22, 22, 0.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 1;
    padding: 0;
}

.navlinks {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 12px;
    margin: 0;
}

.navlink {
    margin-inline: 15px;
    color: #d3d3d3;
}

.applelogo {
    margin-inline: 25px;
    margin-top: -2.9px;
}

.responsivediv {
    display: flex;
}

/* Информационный блок под Navbar */
.infobar {
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.infobartext {
    text-align: center;
    font-size: 14px;
    flex-wrap: wrap;
}

/* Главный контент */
.mainpage1 {
    background-image: url("images/main1.jpg"); /* Замените на локальный путь к вашему изображению */
    height: 588px;
    background-position: center;
}

.mp1-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.mp1-title1 {
    margin-top: 30px;
    font-size: 50px;
    font-weight: bolder;
}

.mp1-title2 {
    font-size: 25px;
}

.mainpagelink {
    font-size: 20px;
}

/* Секция "О нас" */
.mainpage2 {
    background-image: url("images/main2.jpg"); /* Замените на локальный путь к вашему изображению */
    height: 82vh;
    background-position: center;
    width: 100vw;
}

.mp2-title1 {
    margin-top: 60px;
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 15px;
}

.mp2-desc {
    font-size: 23px;
}

/* Третья секция */
.mainpage3 {
    background-image: url("images/main3.jpg"); /* Замените на локальный путь к вашему изображению */
    height: 78vh;
    background-position: center;
}

.mp3desc {
    font-size: 23px;
    color: white;
    margin-bottom: 15px;
}

/* Стиль для промо-секций */
.promo1, .promo2, .promo3, .promo4, .promo5, .promo6 {
    background-position: center;
    height: 560px;
}

/* Footer */
footer {
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
}

.footertext1 {
    margin: 25px;
    width: 820px;
    font-size: 13px;
    color: rgb(71, 71, 71);
}
